mat-card {
    margin: auto;
    margin-top: 10px;
    width: 20em;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}

.spinner {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}