mat-card {
    margin: 10px;
}

.header {
    display:flex;
    justify-content:center;
    align-items:center;
}

.button-container {
    margin-top: 10px;
}

.button-container button {
    margin: 5px;
}

.spinner-div {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
}

.spinner {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}

.container {
    width: 35em;
    margin: auto;
}

form mat-form-field {
    width: 100%;
}