mat-card {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 60vw;
}

form button {
    margin: 10px;
}

.spinner-div {
    display:flex;
    justify-content:center;
    align-items:center;
}